{
  "ignore": ["node_modules/**"],
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": ["react-require", "add-react-displayname"],
  "sourceType": "unambiguous",
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", { "removeImport": true }]
      ],
      "comments": false
    }
  }
}
