{
  "ignore": ["node_modules/**"],
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": [
    "react-require",
    "add-react-displayname",
    "@babel/plugin-proposal-optional-chaining"
  ],
  "sourceType": "unambiguous",
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", { "removeImport": true }]
      ],
      "comments": false
    }
  }
}
