.Button {
  @apply rounded-md transition ease-in-out duration-150;
  @apply font-medium text-white text-base leading-base-normal;
  @apply px-4 py-2.75;
  @apply self-center;
  @apply bg-red-50 hover:bg-red-60;
  @apply border border-red-50;
  @apply inline-block;
  @apply select-none;
  @apply focus:outline-none;
  @apply focus:shadow-outline-red-50;
  &.disabled {
    @apply hover:bg-red-50;
  }

  span {
    @apply align-base;
  }
}

.Icon {
  @apply inline-block -ml-1 mr-1;

  svg {
    @apply h-lg;
  }
}

.slim {
  @apply px-4 py-2.5;
  @apply text-sm leading-sm-normal;

  .icon {
    svg {
      @apply h-base;
    }
  }
}

.large {
  @apply px-6 py-3 text-lg;

  span {
    @apply align-lg;
  }
}

.disabled {
  @apply opacity-65;
  @apply cursor-not-allowed;
}

.plain {
  @apply border-transparent text-carbon-60;
  @apply bg-white hover:bg-carbon-10;
  @apply focus:shadow-outline;
  &.disabled {
    @apply hover:bg-white;
  }
}

.outline {
  composes: plain;
  @apply border-carbon-10 hover:border-carbon-20 focus:border-carbon-10;
  &.disabled {
    @apply hover:border-carbon-10;
  }
}

.brandOutline {
  @apply text-red-50 hover:text-white active:text-red-50;
  @apply bg-white focus:bg-transparent;
  &.disabled {
    @apply hover:bg-white;
  }
}
