@tailwind base;

html {
  @apply text-carbon-80%;
}

body {
  @apply bg-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-carbon-100%;
}

@font-face {
  font-family: "SofiaPro";
  src: url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_A_0.eot");
  src: url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_A_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_A_0.woff2")
      format("woff2"),
    url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_A_0.woff")
      format("woff"),
    url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_A_0.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro";
  src: url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_D_0.eot");
  src: url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_D_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_D_0.woff2")
      format("woff2"),
    url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_D_0.woff")
      format("woff"),
    url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_D_0.ttf")
      format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SofiaPro";
  src: url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_7_0.eot");
  src: url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_7_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_7_0.woff2")
      format("woff2"),
    url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_7_0.woff")
      format("woff"),
    url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_7_0.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SofiaPro";
  src: url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_C_0.eot");
  src: url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_C_0.eot?#iefix")
      format("embedded-opentype"),
    url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_C_0.woff2")
      format("woff2"),
    url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_C_0.woff")
      format("woff"),
    url("https://envoy-fonts.s3.amazonaws.com/sofia-pro/3AF984_C_0.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}

@tailwind components;

@tailwind utilities;
