.EmptyState {
  /* layout */
  @apply flex flex-col-reverse;
  @apply lg:flex-row;

  /* content */
  @apply p-12 text-center;
  @apply lg:text-left;

  /* keep content horizontally centered */
  @apply justify-center;

  /* keep content vertically centered */
  @apply items-center;

  img {
    min-height: 200px;
    max-height: 200px;

    @screen lg {
      min-height: 300px;
      max-height: 300px;
    }
  }

  .Polarwind-Stack {
    max-width: 600px;

    @apply mt-8;
    @apply lg:mt-0 lg:mr-10;
  }
}
